# OSX
#
.DS_Store

# IntelliJ
#
.idea
.vscode/
# node.js
#
node_modules/
npm-debug.log

# custom
apps/
*.log
chromeDriver
.tmp
.env

run/**/*.js
*.js.map
*.js
run/test/specs/to do
to do
.vscode/
.yarn/
playwright.config.js
test-results/
.prettierrc
README.md
package.json
/avd/